<div class="container">
  <h2>Banner</h2>
     <div class="banner" style="background-image: url(/assets/background-coding.jpg);">
       <h1>nice banner</h1>
       <p>nifty huh?</p>
     </div>

  <h2>Card</h2>
    <div class="card-category" style="background-image: url(/assets/fruits/papayyya.jpg);">
      <h1>kljhlkjh</h1>
    </div>

<h2>Product card</h2>
    <div class="card-product">
      <img src="/assets/fruits/papayyya.jpg" alt="">
      <div>
      <h2>Lovely banana</h2>
      <p>the best of Barcelona</p>
      </div>
    </div>

<h2>Card Trip</h2>
 <div class="card-trip">
    <img src="/assets/fruits/applesss.jpg" alt="">
    <div class="card-trip-footer">
      <div>
        <h2>Lovely apples</h2>
        <p>the best of Barcelona</p>
      </div>
        <h2>US$19,99</h2>
    </div>

  </div>


</div>
