<div class="grid-container">
  <div class="grid_cards">
    <div class="card" style="background-image: url(assets/PROFILE PIC 2.jpeg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/PROFILE PIC 2.jpeg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
    <div class="card" style="background-image: url(assets/background-coding.jpg)"><h2>PROFILE</h2>
    </div>
  </div>

  <img src="assets/PROFILE PIC 2.jpeg" id="xav" alt="">
</div>
