<head>
  <link rel="stylesheet" href="pages.scss">
  <script src="https://kit.fontawesome.com/e6aabea3e7.js" crossorigin="anonymous"></script>
</head>

<div class="section-flex">
  <img src="assets/PROFILE PIC 2.jpeg" alt="XAV" class="avatar profile">
  <div class="CV-card">
  <h1>FRONT END / FULL STACK DEVELOPER</h1>
  <br>
  <br>
  <h1><span>X</span>AVIER EVERAERT</h1>
  </div>
</div>



  <img src="assets/fruits/applesss.jpg" alt="" class="avatar_very_large">
</div>



<br>
<br>

<div class="CV-card">
<h2>ABOUT ME</h2>
<p>Over the years I thoroughly enjoyed improving bits and pieces on my website,
but lacked the required coding skills. The Le Wagon coding boot camp helped
me to reach the challenging objective of changing my job sector and I now
feel comfortable working on back end, but above all front-end projects.</p>
</div>

<div class="container">
<h2>DESIGN & CODING</h2>
<p>HTML | CSS | JAVASCRIPT | RUBY | RUBY ON RAILS |  GITHUB | SEO | GIT | BOOTSTRAP |
FINAL CUT PRO | WORDPRESS | WEBFLOW</p>
</div>

<div class="CV-card">
<h2>PORTFOLIO </h2>
<p>Check out some of the projects I have been involved in over the past months.</p>

<ul class="list-inline">
  <li class="social-icon"><a href="https://github.com/xaviereveraert"><i class="fab fa-github"></i></a></li>
  <li class="social-icon"><a href="https://www.facebook.com/xavier.everaert/"><i class="fab fa-facebook"></i></a></li>
  <li class="social-icon"><a href="https://www.linkedin.com/in/xavier-everaert-666ba71/"><i class="fab fa-linkedin"></i></a></li>
</ul>
</div>


<div class="CV-card">
<h2>CONTACT</h2>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


<a href="http://www.intvs.org" class="button">Discover INTVS</a>


<h2>jkhgkjhg</h2>

