.banner {
  background-size: cover;
  padding: 100px 100px;
}

.banner h1 {
  font-size: 60px;
}

.banner p {
  font-size: 36px;
  font-weight: lighter;
  text-shadow: 2px, 2px, 2px, rgba(0,0,0,0.5);
}
