.container {
width: 1000px;
margin: 0 auto;
}

@media (max-width: 900px) {
.container {
  width: 650px;
  }
}

@media (max-width: 700px) {
.container {
  width: 450px;
  }
}

@media (max-width: 500px) {
.container {
  width: 300px;
  }
}
