// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #ff584c;
  color: white;
}

h1,h2 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 40px;
}

a {
  font-weight: 'bold';
  color: #ffa372;
  text-decoration: none;
}

a:hover {
  color: #e59266;
}

.CV-card {
    border: 8px;
    border-radius: 8px;
    border-color: white;
    padding: 16px;
    box-shadow: 1px 1px 1px 1px #ffffff;
    width: 1000px;
    margin: 10px auto;
}


.shadowed {
box-shadow: 10px 10px 3px black;
}

.img-circle {
  border-radius: 50%;
  width:100px;
}

.list-inline {
list-style: none;
padding: 0;
}

.list-inline li {
  display: inline-block;
}


.fab {
  color: white;
  font-size: 32px;
  margin: 4px;
}

.fab:hover {
  color: #e8e8e8;
}
